.idea
*.pyc
*.pyo

db.sqlite3

# files ignore
alibaba/static/alibaba/uploads/files_on_wall/*
alibaba/static/alibaba/uploads/profile_photoes/*
!addPhoto.png
!fon.jpg

# igonre private settings
#AlibabaStudio/settings/local.py

# ignore messages
tmp/messages/*
!20160317-204752-60618608.log
